<script lang="ts">
import studyingURL from '~/images/studying.svg'
import BaseLayout from '~/components/BaseLayout.svelte'
import { saveAuthToken } from '~/lib/auth'

let loading = false
let error = false
let code:string
let invalid:boolean

$: invalid = !isValid(code)

async function activate () {
  loading = true
  error = false

  code = code.trim().toUpperCase()
  let res = await fetch('/student-activate', {
    method: 'POST',
    body: new URLSearchParams({code})
  })
  let json = await res.json()
  if ('error' in json) {
    loading = false
    error = true
    return
  }

  saveAuthToken(json.token)
  window.location.reload()
}

function isValid (code:string) {
  return !!code && code.trim().length == 6
}

</script>

<style>
main {
  flex: 1 0 auto;
  width: 100%;
  padding-top: 4rem !important;
  min-height: 90vh;
}
</style>

<BaseLayout>
  <main class="container is-max-tablet p-2">

    <div class="columns is-centered">
      <div class="column is-half-tablet">
        <img src="{studyingURL}" alt="studying">

        <h1 class="title">Activación</h1>

        <div class="box is-size-5">
        Para poder acceder a los recursos de formación debes solicitar un código de activación en tu academia.
        </div>

        <div class="field">
          <input class="input is-large has-text-centered" class:is-danger={error} bind:value={code} disabled={loading} type="text" placeholder="Código de activación" on:keydown={() => error = false}>
        </div>
        <button class="button is-primary is-large is-fullwidth" class:is-loading={loading} on:click={activate} disabled={invalid}>Activar</button>

        {#if error}
        <div class="notification is-danger is-light mt-2">
          El código no es válido
        </div>
        {/if}

      </div>
    </div>

  </main>
</BaseLayout>
