<script>
import { tick } from 'svelte';
import { writable } from 'svelte/store';
import router from "page";

import BaseLayout from '~/components/BaseLayout';

import Home from '~/student/pages/Home';
import Activation from '~/student/pages/Activation';
import Session from '~/student/pages/Session';
import SessionComplete from '~/student/pages/SessionComplete';
import Chapter from '~/student/pages/Chapter';
import Syllabus from '~/student/pages/Syllabus';

let page;
let params;

router.currentPath = writable('');

router('*', async (ctx, next) => {
	page = null;
	await tick();
	params = ctx.params;
	router.currentPath.set(router.current);
  window.scrollTo(0,0);
	next()
});
router('/student', () => page = Home)
router('/student/activation', () => page = Activation)
router('/student/session/:id', () => page = Session)
router('/student/session-complete', () => page = SessionComplete)
router('/student/syllabus', () => page = Syllabus)
router('/student/chapter/:pos', () => page = Chapter)

router.start()
</script>

<style>
main {
  flex: 1 0 auto;
  width: 100%;
  padding-top: 1rem !important;
  min-height: 90vh;
}
</style>

<BaseLayout rootUrl="/student" responsive={false}>
  <main class="container is-max-tablet p-2">
    <div class="columns is-centered">
      <div class="column is-half-tablet">
        <svelte:component this={page} {params} />
      </div>
    </div>
  </main>
</BaseLayout>
