<script lang="ts">
import api from '~/lib/repository/api';
import Icon from '~/components/Icon.svelte';
import Loading from '~/components/Loading.svelte';
import Meter from '~/components/Meter.svelte';
import Error from '~/components/Error.svelte';

export let params:any = {};
let pos = +params.pos;

async function cargarTema() {
  return await api.getChapterByPos({pos});
}

async function reiniciar (id) {
  confirm(`¿Está seguro que quiere reiniciar?

Se borrará todo el progreso realizado en este tema y se deberá repasar todas la tarjetas asociadas.`);

  await api.deleteProgress({id});
  window.location.reload();
}

</script>


{#await cargarTema()}
<Loading/>
{:then {chapter}}

<h1 class="title is-size-4">
  <span>{chapter.title}</span>
  {#if !!chapter.progress}
  <Meter step1={chapter.progress.learned}
         step2={chapter.progress.inprogress}
         step3={chapter.progress.pending}/>
  {/if}
</h1>

<div class="content">
{@html chapter.content}
</div>


<div class="field is-grouped">
  <p class="control">
    {#if pos > 1}
    <a href="/student/chapter/{pos - 1}" class="button is-large"><Icon icon="chevron-left"/></a>
    {:else}
    <button class="button is-large" disabled><Icon icon="chevron-left"/></button>
    {/if}
  </p>
  <p class="control is-expanded">
    <a href="/student/syllabus" class="button is-large is-fullwidth">Volver</a>
  </p>
  <p class="control">
    {#if !chapter.last}
    <a href="/student/chapter/{pos + 1}" class="button is-large"><Icon icon="chevron-right"/></a>
    {:else}
    <button class="button is-large" disabled><Icon icon="chevron-right"/></button>
    {/if}
  </p>
</div>

<hr>

{#if !!chapter.progress}
<table class="table is-bordered is-fullwidth">
  <thead>
    <tr>
      <th>Pendientes</th>
      <th>En curso</th>
      <th>Aprendidas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{chapter.progress.pending}</td>
      <td>{chapter.progress.inprogress}</td>
      <td>{chapter.progress.learned}</td>
    </tr>
  </tbody>
</table>
{/if}

<div class="buttons is-centered">
  {#if chapter.totalCards == 0}
  <button class="button is-large" disabled>No hay tarjetas</button>
  {:else if !!chapter.progress}
  <button class="button is-danger is-large" on:click={() => reiniciar(chapter.id)}>Reiniciar</button>
  <a href="/student/session/{chapter.id}" class="button is-primary is-large">Repasar</a>
  {:else}
  <a href="/student/session/{chapter.id}" class="button is-primary is-large">Comenzar a estudiar</a>
  {/if}
</div>

{:catch}
<Error>
  No se pudo obtener el temario.
</Error>
{/await}