<script lang="ts">
import router from "page"
import Loading from "~/components/Loading.svelte"
import Meter from "~/components/Meter.svelte"
import HeatMap from "~/components/HeatMap.svelte"
import api from "~/lib/repository/api"
import { reActivate } from '~/lib/auth'


async function loading () {
  let res = await api.homeStudent()
  if (!res.user) {
    reActivate()
  }
  return res
}

function logout () {
  if (!confirm(`¿Seguro que quiere cerrar la sesión?

Deberá disponer de un nuevo código de activación para acceder a los recursos de formación.`)) {
    return
  }
  reActivate()
}

function mostrarSiguiente(c) {
  return c.progress != null
    && (c.progress.pending + c.progress.inprogress) == 0
    && !c.last
}

</script>

{#await loading()}
<Loading/>
{:then {user}}
<h2 class="subtitle">Tema actual</h2>

<h1 class="title is-size-4">
  <span>{user.lastChapter.title}</span>
  {#if !!user.lastChapter.progress}
  <Meter step1={user.lastChapter.progress.learned}
         step2={user.lastChapter.progress.inprogress}
         step3={user.lastChapter.progress.pending}/>
  {/if}
</h1>

<div class="has-text-centered">
  <a href="/student/syllabus" class="button is-large">Ver temario</a>
  {#if user.lastChapter.totalCards > 0}
  <a href="/student/session/{user.lastChapter.id}" class="button is-primary is-large">Repasar</a>
  {/if}
  {#if mostrarSiguiente(user.lastChapter)}
  <a href="/student/chapter/{user.lastChapter.pos + 1}" class="button is-info is-large">Siguiente</a>
  {/if}
</div>

<hr>

<h2 class="subtitle">Estadísticas</h2>

<p>Sesiones realizadas en los últimos meses</p>

<HeatMap data={user.activity.sessions}/>

{#if !!user.progress}
<table class="table is-bordered is-fullwidth">
  <thead>
    <tr>
      <th>Pendientes</th>
      <th>En curso</th>
      <th>Aprendidas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{user.progress.pending}</td>
      <td>{user.progress.inprogress}</td>
      <td>{user.progress.learned}</td>
    </tr>
  </tbody>
</table>
{/if}

<p class="has-text-grey-light">
  Estas registrado en este dispositivo como <em>{user.name} {user.surname}</em>
</p>
{/await}
<a href="logout" on:click|preventDefault={logout}>Cerrar sesión</a>  

