<script lang="ts">
import api from '~/lib/repository/api';
import Loading from '~/components/Loading.svelte';

export let session;
export let chapter;

let correct = session.hits.length;
let hits = Math.round(100 * correct / Math.max(1, session.cards.length))
let totalSeconds = Math.floor((session.endTime - session.starTime) / 1000);
let minutes = Math.floor(totalSeconds / 60);
let seconds = Math.floor(totalSeconds % 60);

function loading () {
  let sessionData = {
    date: session.starTime,
    duration: totalSeconds,
    hits: session.hits,    
    faults: session.faults
  }
  return api.createSession({chapter:chapter.id, data:sessionData});
}

</script>

{#await loading()}
<Loading/>
{:then}

<p>Terminado ({session.cards.length}/{session.cards.length}) - <em>{chapter.title}</em></p>
<progress class="progress" value="100" max="100"></progress>

<h1 class="title is-size-3">Sesión completada</h1>

<div class="has-text-centered">
	<i class="has-text-success fas fa-check-circle fa-10x"></i>

<nav class="level is-mobile mt-6">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Preguntas</p>
      <p class="title">{session.cards.length}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tiempo</p>
      <p class="title">{minutes}m{seconds}s</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Aciertos</p>
      <p class="title">{hits}%</p>
    </div>
  </div>
</nav>

<a href="/student" class="button is-large">Ir al inicio</a>
</div>

{/await}