<script lang="ts">
import Loading from '~/components/Loading.svelte';
import SessionComplete from '~/student/pages/SessionComplete.svelte';
import api from '~/lib/repository/api';

export let params:any = {};
let syllabus = +params.id;
let chapter;

let complete = false;
let hide = true;

let session = {
  index: 0, cards: [], starTime: null, endTime: null, hits: [], faults: []
}

// https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

async function loading () {
  const data = await api.sessionCards({syllabus});
  chapter = data.chapter;
  session.cards = shuffle(data.cards);
  session.starTime = new Date();

  if (session.cards.length == 0) {
    siguiente(true);
  }
}

function siguiente(correct:boolean) {
  if (correct) {
    session.hits.push(session.cards[session.index].id)
  } else {
    session.faults.push(session.cards[session.index].id)
  }

  hide = true;
  session.index += 1;

  if (session.index >= session.cards.length) {
    session.endTime = new Date();
    complete = true;
  }
}

</script>

{#await loading()}
<Loading/>
{:then}

{#if complete}
<SessionComplete session={session} chapter={chapter}/>
{:else}
<p>Repasando ({session.index + 1}/{session.cards.length}) - <em>{chapter.title}</em></p>
<progress class="progress" value={session.index + 1} max={session.cards.length}></progress>

<div class="box is-size-5">
  <p class="label">Pregunta</p>
<p>
{session.cards[session.index].question}
</p>
</div>

{#if hide}
<div class="buttons is-centered">
  <button class="button is-primary is-large" on:click={() => hide = false}>Mostrar respuesta</button>
</div>
{:else}
<div class="buttons is-centered">
  <button class="button is-danger is-large" on:click={() => siguiente(false)}>Incorrecta</button>
  <button class="button is-primary is-large" on:click={() => siguiente(true)}>Correcta</button>
</div>
<hr>
<div class="box is-size-5">
  <p class="label">Respuesta</p>
<p>
{session.cards[session.index].answer}
</p>
</div>
{/if}
{/if}
{/await}