<script lang="ts">
import Loading from '~/components/Loading.svelte';
import Error from '~/components/Error.svelte';
import Icon from '~/components/Icon.svelte';
import api from '~/lib/repository/api';

async function cargarTemario() {
  const {syllabus} = await api.getStudentSyllabus();
  return syllabus;
}

function isComplete(chapter:any) {
  return chapter.progress?.pending == 0 && chapter.progress?.inprogress == 0
}

function isIncomplete(chapter:any) {
  return chapter.progress?.pending > 0 || chapter.progress?.inprogress > 0
}

</script>


<h1 class="title">Temario</h1>

{#await cargarTemario()}
<Loading/>
{:then temario}
<div class="table-container">
  <table class="table">
    {#each temario as tema}
    <tr>
      <td>
        {#each Array(tema.level) as _} &nbsp; &nbsp; {/each}
        <a href="/student/chapter/{tema.pos}">{tema.title}</a>
        {#if isComplete(tema)}
        <Icon icon="check" modifier="has-text-success"/>
        {/if}
        {#if isIncomplete(tema)}
        <Icon icon="battery-half" modifier="has-text-warning"/>
        {/if}
      </td>
    </tr>
    {/each}
  </table>
</div>
{:catch}
<Error>
  No se pudo obtener el temario.
</Error>
{/await}

<p>
  <a href="/student" class="button is-large">Volver</a>
</p>
