<script>
  import Nav from '~/components/Nav';
  import Footer from '~/components/Footer';

  export let responsive = true
  export let rootUrl = '/';
</script>

<style>

:global(html, body) {
  height: 100%;
}

:global(body) {
  display: flex;
  flex-direction: column;
}

</style>

<Nav rootUrl={rootUrl} {responsive}>
  <slot name="navbar"/>
</Nav>

<slot />

<Footer/>