<script context="module">
  import { writable } from 'svelte/store';

  let props = writable({});

  function buildOption (state) {
    return (title, subtitle = '') => {
      props.set({title, subtitle, state});
    }
  }

  export const EditFormOption = {
    New: buildOption('new'),
    Loading: buildOption('loading'),
    Edit: buildOption('edit')
  };
</script>

<script>
  import { createEventDispatcher } from 'svelte';
  import Loading from '~/components/Loading';

  const dispatch = createEventDispatcher();

  let form;

  function create() {
    if (form.reportValidity()) {
      dispatch('create');
    }
  }

  function update() {
    if (form.reportValidity()) {
      dispatch('update');
    }
  }

  function remove() {
    if (confirm('¿Está seguro de eliminar este elemento?')) {
      dispatch('remove');
    }
  }
</script>

<style>
  form {
    max-width: 50rem;
  }
</style>

<h1 class="title">{$props.title}</h1>
<h2 class="mb-6 subtitle">{$props.subtitle}</h2>

{#if $props.state == 'loading'}
<Loading/>
{:else}
<form bind:this={form}>
 
  <slot></slot>
  
  <div class="field is-grouped">
    <div class="control">
      {#if $props.state == 'edit'} 
      <button class="button is-primary" on:click|preventDefault={update}>Guardar</button>
      {:else} 
      <button class="button is-primary" on:click|preventDefault={create}>Crear</button>
      {/if}

      <slot name="buttons"></slot>
    </div>

    {#if $props.state == 'edit'}
    <div class="control is-expanded">
      <button class="button is-text is-pulled-right" on:click|preventDefault={remove}>Eliminar</button>
    </div>
    {/if}
  </div>
</form>
{/if}