<div class="notification is-danger is-light">
  <i class="fas fa-bug"></i>
  <strong>¡Algo salió mal!</strong>
  <slot />
  {#if $$slots.default}<br/>{/if}
  Vuelva a intentarlo pasados unos minutos y si el error persiste <a href="mailto:error@error.com">contacte con soporte</a>.
</div>