<script>
export let label = "";
export let title = "";
</script>

<div class="field">
  <!-- svelte-ignore a11y-label-has-associated-control -->
  <label class="label" title={title}>{label}
  <div class="control">
    <slot />
  </div>
  </label>
</div>