<script>
import logoURL from '~/images/logo.png';
</script>

<style>
footer {
  flex-shrink: 0;
}
</style>

<footer class="footer">
  <div class="container">
  <div class="columns has-text-weight-bold" >
    <div class="column is-3">
      <a class="navbar-item" href="/">
        <img src={logoURL} alt="logo de kaeme" width="112" height="28">
      </a>
    </div>
    <div class="column is-3">
      <p>Ayuda</p>
    </div>
    <div class="column is-3">
      <p>Información Legal</p>
    </div>
    <div class="column is-3">
      <p>Sobre nosotros</p>
    </div>
  </div> 

  <div class="has-text-centered">
    <p class="is-italic is-size-7">
      UOC Bruno Orcha García
    </p>
  </div>
</div>
</footer>