<script>
export let modifier = "";
export let icon = 'question';
$: if (icon.indexOf(' ') == -1) {
	icon = `fas fa-${icon}`
}


</script>

{#if !$$slots.default}
<span on:click class="icon {modifier}">
	<i class="{icon}"></i>
</span>
{:else}
<span on:click class="icon-text {modifier}">
	<span class="icon">
	  <i class="{icon}"></i>
	</span>
	<span><slot /></span>
</span>
{/if}