<script lang="ts">

export let func

let saved = false
let loading = false
async function save() {
	loading = true
	await func()
	loading = false
	saved = true
	setTimeout(() => saved = false, 1000)
}
</script>

{#if saved}
<button class="button is-success">
  <span class="icon is-small">
    <i class="fas fa-check"></i>
  </span>
	<span>¡Guardado!</span>
</button>
{:else}
<button class="button is-primary" class:is-loading={loading} disabled={loading} on:click|preventDefault={save}>
	Guardar
</button>
{/if}
