<script>
import loading from '~/images/loading.svg';
import { onMount, onDestroy } from 'svelte';

// Esperamos unos ms antes de mostrarlo
let hide = true;
let wait = setTimeout(() => hide = false, 300);

onDestroy(() => clearInterval(wait));
</script>

<div class="box has-text-centered p-5" class:is-invisible={hide}>
  <p><img src={loading} title="Cargando ..."></p>
</div>
