<script lang="ts">
export let step1:number;
export let step2:number = 0;
export let step3:number = 0;

let total = Math.max(1, step1 + step2 + step3);
let p1 = Math.round(100 * step1 / (step1 + step2)) || 0;

let meterGradient = `--meter-gradient:linear-gradient(
		90deg, 
    #8bcf69 ${p1}%,
    #e6d450 ${p1}%,
    #e6d450 100%)
`;

</script>

<style>
meter::-moz-meter-bar {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-size: 100% 100%;
  background-image: var(--meter-gradient);
}

meter::-webkit-meter-optimum-value {
  background-image: var(--meter-gradient);
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter {
  width: 100%;
  background: none;
  background-color: whiteSmoke;
  border: 1px solid #ccc;
}  

</style>

<meter value={step1 + step2} max={total} style="{meterGradient}"></meter>
