<script lang="ts">
import logoWhiteURL from '~/images/logo-white.png'
export let rootUrl = '/'
export let responsive = true
let active = false

function toggle() {
  active = !active
}
</script>

<style>
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

</style>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{rootUrl}" on:click={() => active = false}>
      <img src={logoWhiteURL} width="112" height="28">
    </a>
    {#if responsive}
    <a role="button" class="navbar-burger" class:is-active={active} aria-label="menu" aria-expanded="false" on:click={toggle}>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    {/if}
  </div>
  <div class="navbar-menu" class:is-active={active} on:click={toggle}>
    <slot />
  </div>
</nav>