<script>
import {currentPath as path} from "page";

export let href;

let active;

$: active = $path.startsWith(href);

</script>

<a class="navbar-item" class:is-active={active} href={href}>
	<slot/>
</a>