<script lang="ts">
  export let colspan:number = 0;
</script>

{#if colspan > 0}
<tr>
  <td colspan={colspan}>
    <div class="box has-text-centered p-5">
      <slot />
    </div>
  </td>
</tr>
{:else}
<div class="box has-text-centered p-5">
  <slot />
</div>
{/if}

