<script>
import TimeAgo from 'javascript-time-ago'
const timeAgo = new TimeAgo()

export let date
if (!date.endsWith('Z')) {
	date += 'Z'
}

</script>

<time datetime={date} title={(new Date(date)).toLocaleString('es', { dateStyle: 'full', timeStyle: 'medium'})}>{timeAgo.format(new Date(date))}</time>