<script lang="ts">
import uploadFileAttachment from '~/admin/trix-upload';

export let value = ""

let trixInput

function trixAttachmentAdd (event:any) {
  if (event.attachment.file) {
    uploadFileAttachment(event.attachment)
  }  
}

</script>

<div class="mt-1 mb-1">
  <input id="x" bind:this={trixInput} type="hidden" name="content" bind:value>
  <trix-editor input="x" on:trix-change={() => trixInput.dispatchEvent(new Event('input'))} on:trix-attachment-add={trixAttachmentAdd}></trix-editor>
</div>