<script>
import BaseLayout from '~/components/BaseLayout';
import NavLink from '~/components/NavLink';
import { removeAuthToken } from '~/lib/auth';

function logout () {
  removeAuthToken();
  window.location = '/admin';
}

</script>
<style>
main {
  flex: 1 0 auto;
  width: 100%;
}

</style>
<BaseLayout rootUrl="/admin/">
  <svelte:fragment slot="navbar">
    <div class="navbar-start">
      <NavLink href="/admin/alumnos">
        Alumnos
      </NavLink>
      <NavLink href="/admin/temario">
        Temario
      </NavLink>
      <NavLink href="/admin/tarjetas">
        Tarjetas
      </NavLink>
      <NavLink href="/admin/usuarios">
        Usuarios
      </NavLink>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="logout" class="button" on:click={logout}>
            Salir
          </a>
        </div>
      </div>
    </div>
  </svelte:fragment>
  
  <main class="container is-max-desktop p-6">
    <slot />
  </main>

</BaseLayout>