<script>
import Time from '~/components/Time.svelte';

export let notifications

</script>

<ul>
  {#each notifications as notification}
  <li>{notification.message}
      {#if notification.student_name}<span class="is-size-7"><strong>Alumno {notification.student_name}</strong></span>{/if}
      <span class="is-size-7">({#if notification.user_name}por {notification.user_name} {/if}<Time date={notification.date} />)</span>
  </li>
  {:else}
  <li>No hay eventos</li>
  {/each}
</ul>
