<script context="module" lang="ts">
import { writable } from 'svelte/store';

export let page = writable([])
export let curpage = writable(0)
</script>

<script lang="ts">
const PAGE_SIZE = 10

export let list:any
export let offset = 1

let lastOffset = Math.floor((list.length - 1) / PAGE_SIZE) + 1
let paginationList

$: $curpage = offset

$: page.set(list.slice((offset - 1) * PAGE_SIZE, offset * PAGE_SIZE))

$: if (lastOffset <= 5) {
  paginationList = Array(lastOffset).fill(1).map((x, y) => x + y)
} else if (offset <= 3) {
  paginationList = [1, 2, 3, 4, 0, lastOffset]
} else if (offset + 3 > lastOffset) {
  paginationList = [1, 0, lastOffset - 3, lastOffset - 2, lastOffset - 1, lastOffset]
} else {
  paginationList = [1, 0, offset - 1, offset, offset + 1, 0, lastOffset]
}

</script>
{#if lastOffset > 1}
<nav class="pagination is-right" role="navigation" aria-label="pagination">
  {#if offset > 1}
  <a class="pagination-previous" on:click={() => offset--}>Anterior</a>
  {:else}
  <a class="pagination-previous" disabled>Anterior</a>
  {/if}
  {#if offset < lastOffset}
  <a class="pagination-next" on:click={() => offset++}>Siguiente</a>
  {:else}
  <a class="pagination-next" disabled>Siguiente</a>
  {/if}
  <ul class="pagination-list">
  {#each paginationList as n}
    {#if n == 0}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {:else}
    <li><a class="pagination-link" class:is-current={n == offset} on:click={() => offset = n}>{n}</a></li>
    {/if}
  {/each}
  </ul>
</nav>
{/if}