<script context="module" lang="ts">
import { writable } from 'svelte/store';

const tabs = new writable(new Set())
const active = new writable()
</script>

<script lang="ts">
import { onMount, onDestroy } from 'svelte';

export let name
$tabs.add(name)

let first = $tabs.size == 1
if (first) {
  active.set(name)
}

onMount(() => {
  tabs.update(s => s)
})

onDestroy(() => {
  $tabs.delete(name)
})

function activate(tab) {
  active.set(tab)
}

</script>

{#if first}
<div class="tabs">
  <ul>
    {#each [...$tabs] as tab}
    <li class:is-active={$active == tab}><a on:click={activate(tab)}>{tab}</a></li>
    {/each}
  </ul>
</div>
{/if}

<div style={$active !== name ? 'display: none' : ''}>
<slot />
</div>

