<script>
import { tick } from 'svelte';
import { writable } from 'svelte/store';
import router from "page";

import Layout from '~/admin/components/Layout';

import Home from '~/admin/pages/Home';
import Login from '~/admin/pages/Login';
import ListarAlumnos from '~/admin/pages/ListarAlumnos';
import EditarAlumno from '~/admin/pages/EditarAlumno';
import ConsultaAlumno from '~/admin/pages/ConsultaAlumno';
import ListarTemario from '~/admin/pages/ListarTemario';
import EditarTema from '~/admin/pages/EditarTema';
import EditarTarjeta from '~/admin/pages/EditarTarjeta';
import ListarTarjetas from '~/admin/pages/ListarTarjetas';
import ListarUsuarios from '~/admin/pages/ListarUsuarios';
import EditarUsuario from '~/admin/pages/EditarUsuario';

let page;
let params;

router.currentPath = writable('');

router('*', async (ctx, next) => {
	page = null;
	await tick();
	params = ctx.params;
	router.currentPath.set(router.current);
	next()
});
router('/admin', () => page = Home)
router('/admin/login', () => page = Login)
router('/admin/alumnos', () => page = ListarAlumnos)
router('/admin/alumnos/new', () => page = EditarAlumno)
router('/admin/alumnos/:id/edit', () => page = EditarAlumno)
router('/admin/alumnos/:id/show', () => page = ConsultaAlumno)
router('/admin/temario', () => page = ListarTemario)
router('/admin/temario/new', () => page = EditarTema)
router('/admin/temario/:id/edit', () => page = EditarTema)
router('/admin/tarjetas', () => page = ListarTarjetas)
router('/admin/tarjetas/new', () => page = EditarTarjeta)
router('/admin/tarjetas/:id/edit', () => page = EditarTarjeta)
router('/admin/usuarios', () => page = ListarUsuarios)
router('/admin/usuarios/new', () => page = EditarUsuario)
router('/admin/usuarios/:id/edit', () => page = EditarUsuario)

router.start()
</script>

<!--Login/-->
<Layout>
	<svelte:component this={page} {params} />
</Layout>
