<script lang="ts">
import Icon from '~/components/Icon.svelte';
import Loading from "~/components/Loading.svelte"
import Meter from "~/components/Meter.svelte"
import HeatMap from "~/components/HeatMap.svelte"
import LoadingButton from "~/components/LoadingButton.svelte"
import TrixEditor from '~/components/TrixEditor.svelte';
import NotificationList from '~/admin/components/NotificationList.svelte';
import Time from '~/components/Time.svelte';
import Tab from '~/admin/components/Tab.svelte';
import api from "~/lib/repository/api"

export let params:any = {};
let id = +params.id;
let notes = ""

async function loading () {
  let res = await api.showStudent({id})
  notes = res.user.notes || ""
  return res
}

function percentage (progress) {
	let total = progress.learned + progress.inprogress + progress.pending
	return Math.round(100 * (progress.learned + progress.inprogress) / total)
}

async function saveNotes() {
	await api.saveNotes({id, notes})
}

</script>

{#await loading()}
<Loading/>
{:then {user, chapters, notifications}}

<h1 class="title">Consulta de alumno</h1>
<h2 class="subtitle">{user.name} {user.surname}
	{#if user.phone || user.mail}
	<span class="is-size-7">(
		{#if user.phone}{user.phone}{/if}
		{#if user.phone && user.mail}/{/if}
		{#if user.mail}<a href="mailto:{user.mail}">{user.mail}</a>{/if}
	)</span>
	{/if}
</h2>


<Tab name="Actividad">
	<h3 class="title is-5">Sesiones realizadas</h3>
	<p>Aquí puede ver una gráfica con la actividad diario del alumno de los últimos meses.</p>

	<HeatMap data={user.activity.sessions}/>

	<h3 class="title is-5">Tarjetas totales</h3>
	{#if !!user.progress}
	<table class="table is-bordered is-fullwidth">
	  <thead>
	    <tr>
	      <th>Pendientes</th>
	      <th>En curso</th>
	      <th>Aprendidas</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>{user.progress.pending}</td>
	      <td>{user.progress.inprogress}</td>
	      <td>{user.progress.learned}</td>
	    </tr>
	  </tbody>
	</table>
	{/if}


	<h3 class="title is-5">Actividad reciente</h3>
	<p>Última actividad relacionada con el alumno</p>

	<div class="content">
		<NotificationList {notifications} />
	</div>
</Tab>

<Tab name="Progreso">
	<h3 class="title is-5">Progreso del temario</h3>
	<p>Estado del progreso de aprendizaje del temario.</p>

	<table class="table is-fullwidth is-hoverable">
	  <thead>
	    <tr>
	      <th>Tema</th>
	      <th>Nº Sesiones</th>
	      <th>Última sesión</th>
	      <th colspan="2">Progreso</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{#each chapters as chapter}
	  	<tr>
			  <td>{chapter.title}</td>
	    	{#if !!chapter.progress}
		    <td>{chapter.progress.learned + chapter.progress.inprogress}</td>
		    <td><Time date={chapter.progress.date} /></td>
		    <td>{percentage(chapter.progress)}%</td>
		    <td>
  				<Meter step1={chapter.progress.learned}
                 step2={chapter.progress.inprogress}
                 step3={chapter.progress.pending}/>
 				</td>
 				{:else}
 				<td colspan="4"></td>
        {/if}
		  </tr>
		  {/each}
	  </tbody>
	</table>
</Tab>

<Tab name="Notas">
	<h3 class="title is-5">Notas</h3>
	<p>Aquí puede agregar notas varias sobre el alumno.</p>

	<TrixEditor bind:value={notes} />

	<div class="buttons">
		<LoadingButton func={saveNotes}/>
	</div>
</Tab>

{/await}