<script lang="ts">
import router from "page"
import { onMount } from 'svelte'
import EditForm, {EditFormOption} from '~/components/EditForm.svelte'
import Field from '~/components/Field.svelte'
import api from '~/lib/repository/api'

export let params:any = {}
let id = +params.id
let editing = false
let user:any = {}
let password = ""

onMount(async () => {
  if (!id) {
    EditFormOption.New('Nuevo usuario')
    return
  }

  editing = true
  EditFormOption.Loading('Cargando usuario');
  ({user} = await api.getUser({id}))
  EditFormOption.Edit('Editar usuario', `${user.name}`)
});

async function create() {
  user.password = password;
  ({user} = await api.createUser({user}));
  router('/admin/usuarios');
}

async function update() {
  if (password != "") {
    user.password = password
  }
  await api.updateUser({id, user});
  router('/admin/usuarios');
}

async function remove() {
  await api.deleteUser({id});
  router.redirect('/admin/usuarios');
}

</script>


<EditForm on:create={create} on:update={update} on:remove={remove}>
<div class="columns">
  <div class="column is-4">
    <Field label="Nombre">
      <input required class="input" type="text" placeholder="Nombre del usuario" bind:value={user.name}>
    </Field>
  </div>
  <div class="column is-8">
    <Field label="Correo">
      <input required class="input" type="email" placeholder="Correo electrónico" bind:value={user.mail}>
    </Field>
  </div>
</div>
<div class="columns">
  <div class="column is-4">
    <Field label="Contraseña">
      <input class="input" type="password" autocomplete=new-password placeholder="Indique la nueva contraseña" required={!editing} bind:value={password}>
    </Field>
  </div>
</div>

</EditForm>