<script lang="ts">
import router from "page";
import { onMount } from 'svelte';
import EditForm, {EditFormOption} from '~/components/EditForm.svelte';
import Field from '~/components/Field.svelte';
import TrixEditor from '~/components/TrixEditor.svelte';
import api from '~/lib/repository/api';

export let params:any = {};
let id = +params.id;
let chapter:any = {};
let syllabus = [];

onMount(async () => {
  if (!id) {
    EditFormOption.New('Nuevo tema');
    ({syllabus} = await api.getSyllabus());
    return;
  }

  EditFormOption.Loading('Cargando tema');
  ({chapter, syllabus} = await api.getChapter({id}));
  EditFormOption.Edit('Editar tema', chapter.title);
});

function chapterDataAtts(chapter) : any {
  const allowed = ['parent', 'title', 'content']
  return Object.fromEntries(
    Object.entries(chapter).filter(
      ([key, val]) => allowed.includes(key)
    )
  )
}

async function create () {
  await api.createChapter({chapter: chapterDataAtts(chapter)});
  router('/admin/temario');
}

async function update () {
  await api.updateChapter({id, chapter: chapterDataAtts(chapter)})
  router('/admin/temario');
}

async function remove () {
  await api.deleteChapter({id});
  router.redirect('/admin/temario');
}

</script>

<EditForm on:create={create} on:update={update} on:remove={remove}>
  <Field label="Tema padre">
    <div class="select">
      <select bind:value={chapter.parent}>
        <option value={null}>Raíz</option>
        <option disabled>--</option>
        {#each syllabus as tema}
        <option value={tema.id}>
          {#each Array(tema.level) as _} &nbsp; &nbsp; {/each}
          {tema.title}
        </option>
        {/each}
      </select>
    </div>
  </Field>

  <Field label="Título">
    <input required class="input" type="text" placeholder="Título del tema" bind:value={chapter.title}>
  </Field>

  <Field label="Contenido"></Field>
  <div class="content">
    <TrixEditor bind:value={chapter.content} />
  </div>

  <svelte:fragment slot="buttons">
  {#if chapter.totalCards > 0}
  <a href="/admin/tarjetas?chapter={chapter.id}" class="button is-text">Ver {chapter.totalCards} tarjetas</a>
  {/if}
  </svelte:fragment>
</EditForm>
