<script lang="ts">
import router from "page";
import { onMount } from 'svelte';
import EditForm, {EditFormOption} from '~/components/EditForm.svelte';
import {syllabus as syllabus_id} from '~/admin/pages/ListarTarjetas.svelte';
import Field from '~/components/Field.svelte';
import api from '~/lib/repository/api';

export let params:any = {};
let id = +params.id;
let card:any = {};
let syllabus = [];

onMount(async () => {
  if (!id) {
    EditFormOption.New('Nuevo tarjeta');
    if (syllabus_id != null) {
      card.syllabus_id = syllabus_id;
    }
    ({syllabus} = await api.getSyllabus());
    return;
  }

  EditFormOption.Loading('Cargando tarjeta');
  ({card, syllabus} = await api.getCard({id}));
  EditFormOption.Edit('Editar tarjeta', card.title);
});

async function create () {
  await api.createCard({card});
  router('/admin/tarjetas');
}

async function update () {
  await api.updateCard({id, card})
  router('/admin/tarjetas');
}

async function remove () {
  await api.deleteCard({id});
  router.redirect('/admin/tarjetas');
}

</script>

<EditForm on:create={create} on:update={update} on:remove={remove}>
  <Field label="Tema relacionado">
    <div class="select">
      <select required bind:value={card.syllabus_id}>
        <option disabled value="">Seleccione un tema</option>
        {#each syllabus as tema}
        <option value={tema.id}>
          {#each Array(tema.level) as _} &nbsp; &nbsp; {/each}
          {tema.title}
        </option>
        {/each}
      </select>
    </div>
  </Field>

  <Field label="Título">
    <input required class="input" type="text" placeholder="Título del tema" bind:value={card.title}>
  </Field>

  <Field label="Pregunta">
    <textarea required class="textarea" bind:value={card.question}></textarea>
  </Field>

  <Field label="Respuesta">
    <textarea required class="textarea" bind:value={card.answer}></textarea>
  </Field>

</EditForm>
