<script lang="ts">
import router from "page"
import { onMount } from 'svelte'
import EditForm, {EditFormOption} from '~/components/EditForm.svelte'
import Field from '~/components/Field.svelte'
import api from '~/lib/repository/api'

export let params:any = {}
let id = +params.id
let editing = false
let user:any = {}
let activationCode = null

onMount(async () => {
  if (!id) {
    EditFormOption.New('Nuevo alumno')
    return
  }

  editing = true
  EditFormOption.Loading('Cargando alumno');
  ({user} = await api.getStudent({id}))
  EditFormOption.Edit('Editar alumno', `${user.name} ${user.surname}`)
});

function userDataAtts(user) : any {
  const allowed = ['name', 'surname', 'inscription', 'mail', 'phone']
  return Object.fromEntries(
    Object.entries(user).filter(
      ([key, val]) => allowed.includes(key)
    )
  )
}

async function create() {
  let {student} = await api.createStudent({user: userDataAtts(user)});
  router.redirect(`/admin/alumnos/${student.id}/edit`);
}

async function update() {
  await api.updateStudent({id, user: userDataAtts(user)});
  router('/admin/alumnos');
}

async function remove() {
  await api.deleteStudent({id});
  router.redirect('/admin/alumnos');
}

async function nuevoCodigoActivacion() {
  ({activationCode} = await api.newActivationCode({id}));
}

async function cambiarActivacion () {
  await api.toggleStateStudent({id});
  ({user} = await api.getStudent({id}));
}

</script>


<EditForm on:create={create} on:update={update} on:remove={remove}>
<div class="columns">
  <div class="column is-4">
    <Field label="Nombre">
      <input required class="input" type="text" placeholder="Nombre del alumno" bind:value={user.name}>
    </Field>
  </div>
  <div class="column is-8">
    <Field label="Apellidos">
      <input required class="input" type="text" placeholder="Apellidos" bind:value={user.surname}>
    </Field>
  </div>
</div>
<div class="columns">
  <div class="column is-4">
    <Field label="Teléfono">
      <input class="input" type="tel" pattern="[0-9]&#123;9&#125;" placeholder="Número de teléfono 666777888" bind:value={user.phone}>
    </Field>
  </div>
  <div class="column is-8">
    <Field label="Correo">
      <input class="input" type="email" placeholder="Correo electrónico" bind:value={user.mail}>
    </Field>
  </div>
</div>
<div class="columns">
  <div class="column is-4">
    <Field label="Fecha de inscripción">
      <input required class="input" type="date" placeholder="Fecha" bind:value={user.inscription}>
    </Field>
  </div>
  {#if editing}
  <div class="column is-8">
    <Field label="Estado">
      <input class="input" type="text" value={user.state} disabled title={user.activation_date}>
    </Field>
  </div>
  {/if}
</div>
{#if !!activationCode}
<div class="columns">
  <div class="column is-12">
    <div class="notification is-warning">
      El código de activación para el alumno es <strong>{activationCode}</strong>
    </div>
  </div>
</div>
{/if}
<svelte:fragment slot="buttons">
{#if editing}
  {#if user.state == 'ACTIVO'}
  <button class="button" on:click|preventDefault={nuevoCodigoActivacion}>Código de activación</button>
  <button class="button" on:click|preventDefault={cambiarActivacion}>Desactivar</button>
  {:else}
  <button class="button" on:click|preventDefault={cambiarActivacion}>Activar</button>
  {/if}
{/if}
</svelte:fragment>

</EditForm>