<script>
import Loading from '~/components/Loading.svelte';
import NotificationList from '~/admin/components/NotificationList.svelte';
import api from '~/lib/repository/api'

export let params;

async function loadNotifications () {
	return await api.showNotifications()
}

</script>

<style>
i {
	font-size: 5rem;
}

.item {
    background-color: #e8e8e8;
    display: block;
    width: 9rem;
    border-radius: 10px;
    padding: 1em;
}
a {
    color: #717171;
}
a:hover {
	color: #3298dc;
}
</style>

<div class="p-3 columns has-text-centered">
	<div class="column is-3">
		<a href="/admin/alumnos" class="item">
			<i class="fas fa-users"></i>
			<p>Alumnos</p>
		</a>
	</div>
	<div class="column is-3">
		<a href="/admin/temario" class="item">
			<i class="fas fa-book"></i>
			<p>Temario</p>
		</a>
	</div>
	<div class="column is-3">
		<a href="/admin/tarjetas" class="item">
			<i class="fas fa-sticky-note"></i>
			<p>Tarjetas</p>
		</a>
	</div>
	<div class="column is-3">
		<a href="/admin/usuarios" class="item">
			<i class="fas fa-user-cog"></i>
			<p>Usuarios</p>
		</a>
	</div>
</div>

<h2 class="pt-6 title is-4">Actividad reciente</h2>
<div class="content">
{#await loadNotifications()}
<Loading />
{:then {notifications}}
<NotificationList {notifications} />
{/await}
</div>