<script lang="ts">
import router from "page";
import Icon from '~/components/Icon.svelte';
import Loading from '~/components/Loading.svelte';
import NoData from '~/components/NoData.svelte';
import Error from '~/components/Error.svelte';
import api from '~/lib/repository/api';

async function cargarAlumnos() {
  const {students} = await api.allStudents()
  return students;
}

function newAlumno () {
  router('/admin/alumnos/new');
}

</script>

<style>
	td:last-child {
		width: 250px;
	}
  @media (hover: hover) {
    .actions {
      visibility: hidden;
    }
    tr:hover .actions {
      visibility: visible;
    }
  }
</style>
  
<h1 class="title">Alumnos</h1>
<h2 class="subtitle">Listado de alumnos registrados</h2>

{#await cargarAlumnos()}
  <Loading/>
{:then alumnos}
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha de inscripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {#each alumnos as alumno}
    <tr class:has-text-grey-light={alumno.state == 'DESACTIVADO'}>
      <td>{alumno.name}</td>
      <td>{alumno.surname}</td>
      <td>{alumno.inscription}</td>
      <td>
          <div class="actions">
          <a href="/admin/alumnos/{alumno.id}/show">
            <Icon icon="chart-bar">Consultar</Icon>
          </a>
          <a href="/admin/alumnos/{alumno.id}/edit">
            <Icon icon="edit">Editar</Icon>
          </a>
        </div>
      </td>
    </tr>
    {:else}
    <NoData colspan={4}>
      ¡Todavía no hay ningún alumno inscrito!
    </NoData>
    {/each}
  </tbody>
</table>
<button class="button is-primary" on:click={newAlumno}>Nuevo alumno</button>
{:catch}
<Error>
  No se pudo obtener la lista de alumnos inscritos.
</Error>
{/await}