<script lang="ts">
import router from "page"
import Icon from '~/components/Icon.svelte'
import Loading from '~/components/Loading.svelte'
import NoData from '~/components/NoData.svelte'
import Error from '~/components/Error.svelte'
import api from '~/lib/repository/api'

let syllabus
let lastMove

async function cargarTemario() {
  ({syllabus} = await api.getSyllabus())
}

async function reordenar(id, operation) {
  ({syllabus} = await api.reorderChapter({id, operation}))
  lastMove = id
}

function nuevoTema () {
  router('/admin/temario/new')
}

</script>

<style>
  td:last-child {
    width: 250px;
  }
  @media (hover: hover) {
    .actions {
      visibility: hidden;
    }
    tr:hover .actions {
      visibility: visible;
    }
  }

  .moved {
    animation-name: moved;
    animation-duration: 2s;
  }

  @keyframes moved {
    from {
      background-color: hsl(48, 100%, 67%);
    }
    
    to {
      background-color: inherit;
    }
  }

</style>

<h1 class="title">Temario</h1>
<h2 class="subtitle">Lista de temas definidos del temario</h2>

{#await cargarTemario()}
  <Loading/>
{:then}
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Título</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {#each syllabus as tema}
    <tr class:moved={lastMove == tema.id}>
      <td>
        {#each Array(tema.level) as _} &nbsp; &nbsp; &nbsp; {/each}
        {tema.title}
      </td>
      <td>
        <div class="actions">
          <Icon icon="chevron-left"  on:click={() => reordenar(tema.id, 'LEFT')} />
          <Icon icon="chevron-right" on:click={() => reordenar(tema.id, 'RIGHT')} />
          <Icon icon="chevron-up" on:click={() => reordenar(tema.id, 'UP')} />
          <Icon icon="chevron-down"  on:click={() => reordenar(tema.id, 'DOWN')}/>
          <a href="/admin/temario/{tema.id}/edit">
            <Icon icon="edit">Editar</Icon>
          </a>
        </div>
      </td>
    </tr>
    {:else}
    <NoData colspan={2}>
      ¡El temario está vacio!
    </NoData>
    {/each}
  </tbody>
</table>
<button class="button is-primary" on:click={nuevoTema}>Nuevo tema</button>
{:catch}
<Error>
  No se pudo obtener el temario.
</Error>
{/await}
