<script context="module" lang="ts">
export let syllabus = null
let initOffset = 1
</script>

<script lang="ts">
import router from "page";
import Icon from '~/components/Icon.svelte';
import Loading from '~/components/Loading.svelte';
import NoData from '~/components/NoData.svelte';
import Error from '~/components/Error.svelte';
import Pagination, { page, curpage} from '~/admin/components/Pagination.svelte';
import api from '~/lib/repository/api';

// Procesar parámetro para filtrar
let url = new URL(location.href);
let searchParams = new URLSearchParams(url.search);
let goChapter = searchParams.get('chapter');
if (goChapter != null) {
  syllabus = +goChapter
  initOffset = 1
  router('/admin/tarjetas');
}

let chapters = []
let cards = []

$curpage = initOffset
$: initOffset = $curpage || initOffset

async function cargarTarjetas() {
  const res = await api.allCards({syllabus})
  chapters = res.Syllabus
  cards = res.Cards
}

let loadData = cargarTarjetas();

function recargar () {
  initOffset = 1
  loadData = cargarTarjetas();
}

function nuevaTarjeta () {
  router('/admin/tarjetas/new');
}

</script>

<style>
  td:last-child {
    width: 150px;
  }
  @media (hover: hover) {
    .actions {
      visibility: hidden;
    }
    tr:hover .actions {
      visibility: visible;
    }
  }
</style>


<h1 class="title">Tarjetas</h1>
<h2 class="mb-6 subtitle">Lista de tarjetas de estudio</h2>

{#await loadData}
  <Loading/>
{:then}
<div class="select">
  <!-- svelte-ignore a11y-no-onchange -->
  <select bind:value={syllabus} on:change={recargar}>
    <option value={null}>Todas</option>
    <option disabled>--</option>
    {#each chapters as tema}
    <option value={tema.id}>
      {#each Array(tema.level) as _} &nbsp; &nbsp; {/each}
      {tema.title} ({tema.totalCards})
    </option>
    {/each}
  </select>
</div>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Título</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {#each $page as card}
    <tr>
      <td>{card.title}</td>
      <td>
        <div class="actions">
          <a href="/admin/tarjetas/{card.id}/edit">
            <Icon icon="edit">Editar</Icon>
          </a>
        </div>
      </td>
    </tr>
    {:else}
    <NoData colspan={2}>
      ¡No hay tarjetas!
    </NoData>
    {/each}
  </tbody>
</table>

<Pagination list={cards} offset={initOffset}/>

<button class="button is-primary" on:click={nuevaTarjeta}>Nueva tarjeta</button>
{:catch}
<Error>
  No se pudo obtener las tarjetas.
</Error>
{/await}
