<script lang="ts">
import router from "page";
import Icon from '~/components/Icon.svelte';
import Loading from '~/components/Loading.svelte';
import NoData from '~/components/NoData.svelte';
import Error from '~/components/Error.svelte';
import api from '~/lib/repository/api';

async function cargarUsuarios() {
  const {users} = await api.allUsers()
  return users;
}

function newUsuario () {
  router('/admin/usuarios/new');
}

</script>

<style>
	td:last-child {
		width: 250px;
	}
  @media (hover: hover) {
    .actions {
      visibility: hidden;
    }
    tr:hover .actions {
      visibility: visible;
    }
  }
</style>
  
<h1 class="title">Usuarios</h1>
<h2 class="subtitle">Listado de usuarios profesores</h2>

{#await cargarUsuarios()}
  <Loading/>
{:then usuarios}
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {#each usuarios as usuario}
    <tr>
      <td>{usuario.name}</td>
      <td>{usuario.mail}</td>
      <td>
        <div class="actions">
          <a href="/admin/usuarios/{usuario.id}/edit">
            <Icon icon="edit">Editar</Icon>
          </a>
      </div>
      </td>
    </tr>
    {/each}
  </tbody>
</table>
<button class="button is-primary" on:click={newUsuario}>Nuevo usuario</button>
{:catch}
<Error>
  No se pudo obtener la lista de usuarios profesores.
</Error>
{/await}