<script lang="ts">
import BaseLayout from '~/components/BaseLayout.svelte';
import professorURL from '~/images/professor.svg';

import { saveAuthToken } from '~/lib/auth';

let loading = false;
let error:any = false;

let form:any;
let mail:string;
let password:string;

async function login () {
  if (!form.reportValidity()) {
    return;
  }
  loading = true;
  error = false;

  let res = await fetch('/admin-login', {
    method: 'POST',
    body: new URLSearchParams({mail, password})
  })
  let json = await res.json()
  if ('error' in json) {
    loading = false
    error = json.error
    return
  }

  saveAuthToken(json.token);
  window.location.reload();
}

</script>

<svelte:head>
  <style>
     body {
        background-color: #3298dc;
     }

    main {
      flex: 1 0 auto;
      width: 100%;
      padding-top: 6rem !important;
    }
  </style>
</svelte:head>	

<BaseLayout>
  <main>
  <div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">

      <form class="box m-1" bind:this={form}>
      <img src={professorURL} alt="Profesor login">
        <div class="field">
          <label for="" class="label">Correo</label>
          <div class="control has-icons-left">
            <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required bind:value={mail}>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Contraseña</label>
          <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" required bind:value={password}>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <button class="button is-success" class:is-loading={loading} on:click|preventDefault={login} disabled={loading}>
            Acceder
          </button>
        </div>
        {#if error}
        <div class="notification is-danger is-light mt-2">
          {error}
        </div>
        {/if}
      </form>
    </div>
  </div>
</main>
</BaseLayout>
